{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "root": true,
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variableLike",
        "format": ["camelCase"]
      }
    ],
    "@typescript-eslint/type-annotation-spacing": "error",
    "@typescript-eslint/await-thenable": "error",
    "@typescript-eslint/no-extra-semi": "error",
    "@typescript-eslint/require-await": "error",
    "space-before-blocks": "error",
    "indent": ["error", "tab"],
    "quotes": ["error", "single"],
    "object-curly-spacing": ["error", "always"],
    "keyword-spacing": [
      "error", 
      {
        "before": true,
        "after": true
      }],
      "comma-dangle": ["error", "always-multiline"],
      "semi-spacing": ["error", { "before": false, "after": true }],
      "semi": ["error", "always"],
      "space-before-function-paren": ["error", "never"],
      "no-trailing-spaces": "error",
      "space-infix-ops": "error",
      "no-multiple-empty-lines": ["error", 
      {
        "max": 1
      }],
      "curly": ["error", "all"],
      "brace-style": ["error", "1tbs"],
      "padding-line-between-statements": [
        "error", {
          "blankLine": "always", "prev": "*", "next": "function"
        }],
      "object-curly-newline": ["error", {
        "ObjectExpression": "always",
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true, "minProperties": 3 }
    }],
    "@typescript-eslint/no-empty-interface": "off",
    "no-return-await": "error"
  }
}
